
.greeting {
  color: green;
  font-size: 30px;
}
img {
  border-radius: 8px;
  height: 250px;
  margin-left: auto;
}
h2 {
  color: green;
  font-size: 30px;
}
.pic {
  display: flex;
}

.wrapper {
  margin-left: 20px;
  margin-right: 15px;
}
.cardbody {
  display: flex;
 
  width: 500px;
}
.navigation {
  justify-content: flex-start;
}

.my-profile {
  position: absolute;
  top: 750px;
  left: 1500px;
}
body {
  color: rgb(206, 94, 112);
}